@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-brand-primary
}

.background-cell {
  background-image: url(https://assets-global.website-files.com/6568d1688430b2d96f889b23/6568d1688430b2d96f889bbe_Dot1.png);
  background-position: 0 0;
  position: relative;
}

.background-grid {
  background-image: linear-gradient(#00303C 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #00303C calc(100% - 0.5px)), linear-gradient(90deg, #00303C 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #00303C calc(100% - 0.5px));
  background-size: 10% 10%;
  /* border: 1.5px solid #00303C; */
}
